@import '../../global.scss';


.infoTop {
    height: max-content;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    margin-bottom: 80px;
    @include mobile{
        padding: 10px;
        margin: 0px;
         }
    .infoWrapperTitle{
        color: black;
        font-style: italic;
        font-size: 50px;
        font-family: 'Roboto';
        font-weight: 400;
        padding: 50px 0px 50px 0px;
        @include mobile{
            text-align: center;
            font-size: 30px;
            margin-bottom: 40px;
            font-weight: 400;
            margin: 0px;
             }
    }
    .infoWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px ;
        padding: 30px;
        width: 70%;
        height: 500px;
        @include tablet{
            flex-direction: column;
            height: max-content;
            gap: 40px;
                }
        @include mobile{
            flex-direction: column; 
            height: max-content;
            padding: 10px;
            width: 90%;
             }
        .infoTopLeft{
            flex: 1;
            display: flex;
            align-items: start;
            flex-direction: column;
            width: 100%;
            h1 {
                @include mobile{
                    font-size: 25px;
                     }
            }
            .infoTextTitle {
                text-align: left;
                @include mobile{
                    font-size: 20px;
                     }
            }
            .infoText{
                width: 100%;
                font-size: 20px;
                line-height: 35px;
                text-align: justify;
            }
            .saber {
                background-color: #84bc41;
                height: 50px;
                width: 140px;
                border-radius: 40px;
                border: 1px solid white;
                font-size: 20px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: white;
                transition: 0.3s ease-in;
                margin: 30px 0px;
                &:hover {
                    color: #84bc41;
                    background-color: white; 
                    border: 1px solid #84bc41;
                    
                }
            }
           
        }
        .infoTopRight{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            @include mobile{
              display: none;
                 }
            .infoTopImg {
                border-radius: 30px;
                object-fit: cover;
                width: 100%;
                height: 100%;
                
            }
        }
    }
}