@import "../../global.scss";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 20px;
  .left {
    margin-left: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    @include mobile {
      height: 50px;
    }
    img {
      height: 60px;
      margin-right: 30px;
      @include mobile {
        height: 40px;
      }
    }
  }
  .right {
    display: flex;
    align-items: center;
    margin-right: 30px;
    .homeIcon {
      color: #84bc41;
      font-size: 25px;
      cursor: pointer;
      transition: 0.4s ease-in-out;
      &:hover {
        color: #567d26;
      }
      @include mobile {
        height: 20px;
      }
    }
  }
}
