.infoTopCentre {
    padding: 20px;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    margin: 100px 0px;
    .infoWrapperCentre{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        padding: 30px;
        width: 70%;
        height: 500px;
        .infoTopCentreRight{
            flex: 1;
            display: flex;
            align-items: end;
            flex-direction: column;
            width: 100%;
            .infoTextCentreTitle {
                text-align: left;
            }
            .infoTopCentreText{
                width: 100%;
                font-size: 20px;
                line-height: 35px;
                text-align: justify;
            }
            button {
                padding: 10px;
                    width: 150px;
                    height: 50px;
                    border: none;
                    font-size: 18px;
                    border-radius: 30px;
                    cursor: pointer;
                    color: rgb(17, 89, 17);
                    background-color: white;
                    margin: 30px 0px;
                    border: 1px solid rgb(17, 89, 17);
                    transition: 0.3s ease-in;
                    &:hover {
                        color: white;
                        background-color: rgb(17, 89, 17); 
                        
                    }
            }
            
        }
        .infoTopCentreLeft{
            flex: 1;
            display: flex;
            align-items: start;
            flex-direction: column;
            width: 100%;
            .infoTopCentreImg {
                border-radius: 30px;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
           
        }
       
    }
}